* {
    box-sizing: border-box;
}

body {
    /*  background-color: black; */
    background-image: url("./images/b1.jpg");
}

.header {
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 48px;

    background: transparent;
    text-shadow: 1px 1px 10px rgb(226, 10, 21), 1px 1px 10px white;

}

.navbar {
    background-color: transparent;
    padding-top: 50px;
    border-radius: 6px;
    display: inline;
    width: 50%;
    margin-left: 10px;
    margin-top: 30px;
}

.input {
    width: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 6px;

}

.search {
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 18px;
    border-radius: 6px;
}


.forecastdata {
    color: white;
}

.searchresult {
    color: red;
    display: inline;
    padding-left: 20px;
}


.currentweather {
    background-color: transparent;
    width: 250px;
    border: 2px dotted white;
    padding: 50px;
    margin: 20px;
    color: white;
    border-radius: 6px;
    position: static;
    margin-left: 1000px;
    margin-top: 1px;
    font-size: 18px;
   

}

.futureweatherdiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.futureweather {

    border: 2px dotted white;
    border-radius: 6px;
    margin-left: 15px;
    width: 300px;
    text-align: center;
    font-size: 18px;
    font: bolder;
    color: white;

}